<div class="container">
    <h1>{{ title }}</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">

        
         <!--Should work but it will takes time to display it-->
        <li class="breadcrumb-item" *ngIf="region">
          <a routerLink="/">Régions - {{ region.nom }}</a>
        </li>
        <li class="breadcrumb-item active">
          Départements
        </li>
      </ol>
    </nav>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Code</th>
          <th>Code Region</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let departement of departements">
          <td routerLink="/departements/{{departement.code}}/communes">
            {{ departement.nom }}
          </td>
          <td>
              {{ departement.code }}
          </td>
          <td>
            {{ departement.codeRegion }}
        </td>
        </tr>
      </tbody>
    </table>
  
  </div>
